

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//phone styles


:root{
    --primary-color:white;
    --secondary-color:black;
}
*{
    margin: 0;
    padding: 0;
    // background-color: var(--primary-color);
    
}
.mobile-navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 0.7em;


 .hamburger{
    height: 3rem;
    width: 3rem;
    border: 3px solid #80228C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 3px;

    .line{
        height: 3px;
        width: 70%;
        background: #80228C;
    }
 }
}
.pc-navbar{
    display: none;
}
.banner{
    .container{
        padding: 50px 0;
        .row{
            .left{
                // padding: 6em ;
                h1{
                    padding-top: 6rem;
                    display: flex;
                    font-weight: bold;
                    font-size: 30px;
                }
               .media{
              img{
                 margin-top: 25px;    
                }
               }
               .tick{
                img{
                    margin-top: 17px;    
                   }
               }
                .Watch{
                   
                    font-weight: 500;
                    color: #80228C;
                    margin-left: 38px;
                    margin-top: -73px;
                    padding-bottom: 33px;
                    }
                    .trusted{
                        font-weight: 500;
                        margin-left: 35px;   
                    }
                .btn{padding: 0;
                    display: flex;
                    gap: 20px;
                   padding-top: 30px;
                   justify-content: start;
                    .purple{
                    height: 6vh;
                    width: 9rem;
                    color: white;
                    background: #80228C;
                    border: none;
                    font-weight: 500;
                 } 
                 .white{
                    height: 6vh;
                    width: 9rem;
                    border: 3px solid  #80228C; 
                    font-weight: 500;   
                 }  
                }
                .flexcontainer{
                    img{
                        height: 30px;
                    .span{
                        p{
                            background: #80228C;
                            color: #80228C;
                            font-size: 30px;
                            font-weight: 500;
                        }
                    }
                    }
                }
            }
            .right{
              img{
                height: 20rem;
                // width: 22vw;
              }
                .images{
                    display: flex;
                    gap: 20px;
                    
                    img{
                        width: 32vw;
                        margin-top: 30px;
                    }
                    }
                    .photo-1{
                        padding-top: 100px;
                        
                    }
            }
        }
    }
}
.About{
    padding-top: 50px;
     .container{
        .row{
            .left{
             .text{
                width: 33rem;
                p{
                    // display: flex;
                    padding-top: 30px;
                    padding-left: 90px;
                    font-weight: 400;
                    font-size: 20px;
                }
             }
                .cards{
                    height: 22rem;
                    display: flex;
                   padding-top: 40px; 
                   padding-left: 90px;
                
                   .card-1{
                    padding-top: 5rem;
                    height: 22rem;
                    
                    
                   }
                }
            }
            .right{
                padding-top: 70px;
               
                .pics{
                    margin-left: -70px; 
                img{
                    height:26rem; 
                    width: 80%;  
                }
                } 
               .text{
                width: 20rem;
                p{
                    padding-top: 20px;
                    font-weight: 400;
                }   
               }
               .btn{
                padding-top: 10px;
               
                button{
                    padding-left: -10px;
                    background: #80228C;
                    color: white;
                    font-weight: 600;
                    border: 3px solid#80228C;
                    height: 6vh;
                    width: 10rem;
                }
               }
            }
        }
    }
}
    
.Services{
//    display: flex; 
//    justify-content: center;
    padding-top: 5rem;
    padding-left: 15rem;
  
   .flexcontainer{
      .row{
        h3{
            padding-bottom: 30px;
           margin-left: -50px;
           }
       .cards{  
          .ppppp{
           height: 60vh;
           padding-right: 20px;
        }
        .ooooo{
            height: 60vh;
            padding-right: 20px;   
        }
        .fffff{
            height: 60vh; 
            width: 20%;   
        }
         }
        }
    }
}
.happy{
    .container{
    .row{
    padding-top: 70px;
    .left{
        h3{
            font-weight: 500;
            padding-bottom: 60px;
        }
        img{
            height: 40vh;
            padding-left: 90px;
        }
        .text{
            width: 35rem;
            .one{
                font-weight: 700;
                padding-top: 30px;
                padding-left: 90px;
               
            }
            .two{
                font-weight: 600;
                padding-top: 15px;
                padding-left: 90px;   
            }
            .three{
                font-weight: 600;
                padding-top: 10px;
                padding-left: 95px; 
                font-size: medium; 
            }
        }
    }
    .right{
       img{
        height: 45vh;
        padding-top: 20px;
     margin-left: -20px;
       }
       .text{
        .one{
            font-weight: 600;
            padding-top: 10px;
             font-size: bold;     
        }
        .two{
            font-weight: 600;
            padding-top: 10px;
             font-size: medium;  
        }
        .three{
            font-weight: 600;
            padding-top: 10px;
             font-size: medium;     
        }
       } 
    }
   }
    }
}
#instagram{
    .seen{
        h3{
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
    }
	.container{
		.smiles{
            padding-top: 60px;
			justify-content: center;
			display: flex;
			gap: 10px;
        .two{
				padding-top: 80px;
			}
			.four{
				padding-top: 80px;
			}
			.six{
				padding-top: 80px;
			}
		}
		.tigzozo{
			padding-top: 30px;
			padding-left: 600px;
           
			.tigs{
			p{
                font-weight: 700;
                margin-bottom: 10px;
            }

			}
			.us{
				button{
					background: purple;
                    margin-left: -35px;
					color: white;
                    font-weight: 500;
                    height: 5vh;
                    width: 20%;
                    border: 3px solid purple;
				}
			}
			
			
		}

	}

}
#mode{
    width: 3rem;
    height: 3rem;
}
.dark{
    background-color: black !important;
    color: white !important;

}

.footer{
    color: var(--primary-color);
    background-color: #80228c;
    padding: 2rem 3rem;
     margin-top: 3rem;

    .p{
        text-decoration: underline;
        font-weight: 700;
        font-size: 18px;
    }
    .row{
        .left{
            .icon2{
                display: flex;
                gap: 3rem;
            }
           .text{
            img{
                margin-top: 10px;
            }
            .copy{
                margin-left: 40px;
               margin-top: -20px;
            }
            .all{
                margin-left: 40px;
                padding-top: 10px;   
            }
            .icons2{
                gap: 20px;
            }
           } 


        }
        .center{
            .text{
                display: flex;
                flex-direction: column;
                gap: 9px;
                a{
                    text-decoration: none;
                    color: var(--primary-color);
                    font-size: 18px;
                }
            }
        }
        .right{
          .cones{
            .icons{
                display: flex;
                align-items: center;
                gap: 1rem;
                size: 1px;
            }
          }
        }
        .covid{
            .text{
                .our{
                    margin-bottom: 5px;
                }
                .team{
                    margin-bottom: 5px;   
                }
                .test{
                    margin-bottom: 5px;
                }
                .updates{
                    margin-bottom: 5px;
                }
            }
        }
      
    }
}






/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .mobile-navbar{
        display: none;
    }
    .pc-navbar{
        display: block;
        .flexcontainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5rem;
                font-weight: 900;
                li{
                 
                    // color: var(--secondary-color);
                    font-size: 20px;
                    span{
                        color: rgb(128, 34, 140);
                    }
                }
                .dark-icon{
                    height: 30px;
                    width: 30px;
                    background: var(--secondary-color);
                    border-radius: 50%;
                }
            }
            .img-2{
                height: 30px;
                width: 30px;
            }
        }
    }
    .banner{
        .flex-container-2{
            .row{
                .left{
                    padding: 6em ;
                    h1{
                        display: flex;
                        font-weight: bold;
                       
                        
                    }
                    p{
                        padding-top: 1rem;
                        font-weight: 400;
                    }
                }
            }
            .right{
                img{
                  height: 60vh;
                  width: 15vw;
                }
                  .images{
                      display: flex;
                      gap: 10px;
                      
                      img{
                          width: 12vw;
                          height: 22rem;
                      }
                      }
                      .photo-1{
                          padding-top: 100px;
                          
                      }
              }
        }
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .banner{
        .container{
            .row{
                .right{
                    .images{
                        img{
                            width: 8vw;
                            margin-top: 30px;
                        }
                        }
                }
            }
        }
    }
   
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
