

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//phone styles


:root{
    --primary-color:white;
    --secondary-color:black;
}
*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    // background-color: var(--primary-color);
    
}

.links{
    width: 100%;
    height: 100vh;
    background: #c398c9;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100vw;
    display: none;

    ul{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        a{
            font-size: 2rem;
        }
    }
}

.slider{
    transform: translateX(-100vw);
    display: block;
}

.mobile-navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 0.7em;

.lassy{
    height: 55px;
}

 .hamburger{
    z-index: 2;
    height: 3rem;
    width: 3rem;
    border: 3px solid #80228C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 3px;

    .line{
        height: 3px;
        width: 70%;
        background: #80228C;
    }
 }
}
.pc-navbar{
    display: none;
}
.banner{
    padding: 7px;
    .container{
        padding: 50px 0;
        .row{
            .left{
                .process{
                    padding: 2px 0;
                    font-size: 11px;
                    font-weight: 600;
                }
                h1{
                    padding-top: 0rem;
                    display: flex;
                    font-weight: bold;
                    font-size: 31px;
                }
               .media{
              img{
                 margin-top: 25px;    
                }
               }
               .tick{
                img{
                    margin-top: 17px;    
                   }
               }
                .Watch{
                   
                    font-weight: 500;
                    color: #80228C;
                    margin-left: 38px;
                    margin-top: -73px;
                    padding-bottom: 33px;
                    }
                    .trusted{
                        font-weight: 500;
                        margin-left: 35px;   
                    }
                .btn{padding: 0;
                    display: flex;
                    gap: 20px;
                   padding-top: 23px;
                   justify-content: start;
                    .purple{
                    height: 6vh;
                    width: 10rem;
                    color: white;
                    background: #80228C;
                    border: none;
                    font-weight: 500;
                 } 
                 .white{
                    height: 6vh;
                    width: 10rem;
                    border: 3px solid  #80228C; 
                    font-weight: 500;   
                 }  
                }
                .flexcontainer{
                    img{
                        height: 30px;
                    .span{
                        p{
                            background: #80228C;
                            color: #80228C;
                            font-size: 30px;
                            font-weight: 500;
                        }
                    }
                    }
                }
            }
            .right{
              img{
                height: 12rem;
                // width: 22vw;
              }
                .images{
                    display: flex;
                    gap: 6px;
                    
                    img{
                        width: 24vw;
                        margin-top: 27px;
                    }
                    }
                    .photo-1{
                        padding-top: 100px;
                        
                    }
            }
        }
    }
}
.About{
    padding-top: 20px;
     .container{
        .row{
            .left{
             .text{
                width: 33rem;
                p{
                    padding-top: 25px;
                    padding-left: 0px;
                    font-weight: 400;
                    font-size: 16px;
                }
             }
             .cards{
                video{
                    width: 352px;
                    height: 306px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
             }
               
            }
            .right{
                padding-top: 70px;
               
                .pics{
                    margin-left: -70px; 
                img{
                    height: 21rem;
                     width: 445px;
                      padding-top: 30px;
                }
                } 
               .text{
                // width: 20rem;
                p{
                    padding-top: 19px;
                     font-weight: 500;
                       padding-left: 58px;
                       width: 447px;
                }   
               }
               .btn{
                padding-top: 16px;
                 margin-left: 46px;
               
                button{
                    // padding-left: -10px;
                    background: #80228C;
                    color: white;
                    font-weight: 600;
                    border: 3px solid#80228C;
                    height: 6vh;
                    width: 10rem;
                }
               }
            }
        }
    }
}
    
.Services{
//    display: flex; 
//    justify-content: center;
    padding-top: 5rem;
    // padding-left: 15rem;
  
   .flexcontainer{
      .row{
        h3{
            padding-bottom: 30px;
           margin-left: 0;
           }
       .cards{  
          .ppppp{
            height: 52vh;
    padding-right: 0;
    width: 100%;
        
        }
        .ooooo{
            height: 52vh;
    padding-right: 0;
    width: 100%;   
        }
        .fffff{
            height: 62vh;
    padding-right: 0;
    width: 100%;   
        }
         }
        }
    }
}
.happy{
    .container{
    .row{
    padding-top: 70px;
    .left{
        h3{
            font-weight: 600;
            padding-bottom: 60px;
        }
        img{
            height: 33vh;
            padding-left: 0px;
            width: 100%;
        }
        .text{
            width: 35rem;
            .one{
                font-weight: 700;
                padding-top: 30px;
                padding-left: 0px;
            }
            .two{
                font-weight: 600;
                padding-top: 15px;
                padding-left: 0px;   
            }
            .three{
                font-weight: 600;
                 padding-top: 14px;
                 padding-left: -9px;
                  font-size: medium;
            }
        }
    }
    .right{
       img{
      
        font-weight: 600;
    padding-top: 15px;
    padding-left: 0px;
       }
       .text{
        .one{
            font-weight: 600;
            padding-top: 10px;
             font-size: bold;     
        }
        .two{
            font-weight: 600;
            padding-top: 10px;
             font-size: medium;  
        }
        .three{
            font-weight: 600;
            padding-top: 10px;
             font-size: medium;     
        }
       } 
    }
   }
    }
}
#instagram{
    .seen{
        h3{
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
    }
	.container{
		.smiles{
            padding-top: 60px;
			justify-content: center;
			display: flex;
			gap: 10px;
            .get{
                display: none;
            }
            .bug{
                height: 17rem;
            }

        .two{
				padding-top: 80px;
			}
			.four{
				padding-top: 80px;
			}
			.six{
				padding-top: 80px;
			}
		}
		 .tigzozo{
		 	// padding-top: 30px;
		 	// padding-left: 600px;
           
		 	.tigs{
		 	p{
                 font-weight: 700;
                 margin-bottom: 8px;
                 display: flex;
                 justify-content: center;
            }

		 	}
		 	.us{
                display: flex;
                 justify-content: center;
}
			button{
                background: purple;
                color: white;
                font-weight: 500;
                height: 5vh;
                width: 33%;
                border: 4px solid purple;
                margin-top: -1px;
		 		}
			}
			
			
		}

	}



#mode{
    width: 3rem;
    height: 3rem;
}
.dark{
    background-color: black !important;
    color: white !important;

}

.footer{
    color: var(--primary-color);
    background-color: #80228c;
    padding: 2rem 3rem;
     margin-top: 3rem;

    .p{
        text-decoration: underline;
        font-weight: 700;
        font-size: 18px;
    }
    .row{
        .left{
            .icon2{
                display: flex;
                gap: 3rem;
            }
            .ccccc{
                height: 50px;
            }
           .text{
            img{
                margin-top: 10px;
                height: 30px;
            }
            .copy{
                margin-left: 40px;
               margin-top: -20px;
            }
            .all{
                margin-left: 40px;
                padding-top: 10px;   
            }
            .icons2{
                gap: 20px;
            }
           } 


        }
        .center{
            padding-top: 20px;
            .text{
                display: flex;
                flex-direction: column;
                gap: 9px;
                a{
                    text-decoration: none;
                    color: var(--primary-color);
                    font-size: 18px;
                }
            }
        }
        .right{
            padding-top: 25px;
            .p{
                padding-bottom: 10px;
            }
          .cones{
            .icons{
                display: flex;
                align-items: center;
                gap: 1rem;
                size: 1px;
               
            }
          }
        }
        .covid{
             padding-top: 25px;
            .text{
                .our{
                    margin-bottom: 5px;
                }
                .team{
                    margin-bottom: 5px;   
                }
                .test{
                    margin-bottom: 5px;
                }
                .updates{
                    margin-bottom: 5px;
                }
            }
        }
      
    }
}






/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .mobile-navbar{
        display: none;
    }
    .pc-navbar{
        display: block;
        .flexcontainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                font-weight: 900;
                a{
                  font-size: 20px;
                    span{
                        color: rgb(128, 34, 140);
                    }
                }
                .dark-icon{
                    height: 30px;
                    width: 30px;
                    background: var(--secondary-color);
                    border-radius: 50%;
                }
            }
            .img-2{
                height: 30px;
                width: 30px;
            }
        }
    }
    .About{
        padding-top: 20px;
         .container{
            .row{
             .right{
                 .pics{
                        margin-left: -70px; 
                    img{
                        height: 20rem;
                         width: 100%;
                         padding-top: 30px;
                    }
                    } 
                }
            }
        }
    }
    .banner{
        .flex-container-2{
            .row{
                .left{
                    padding: 6em ;
                     h1{
                        display: flex;
                        font-weight: bold;
                        font-size: 23px;
                     }
                    p{
                        padding-top: 1rem;
                        font-weight: 400;
                    }
                }
            }
            .right{
                img{
                  height: 60vh;
                  width: 15vw;
                }
                  .images{
                      display: flex;
                      gap: 10px;
                      
                      img{
                          width: 12vw;
                          height: 22rem;
                      }
                      }
                      .photo-1{
                          padding-top: 100px;
                          
                      }
              }
        }
    }
    .Services{
     .flexcontainer{
              .row{
                h3{
                    font-weight: 700;
                }
               .cards{  
                  .ppppp{
                    height: 35vh;
                    padding-right: 20px;
                    width: 33%;
                
                }
                .ooooo{
                    height: 35vh;
                    padding-right: 20px;
                    width: 33%;   
                }
                .fffff{
                    height: 35vh;
                    width: 32%   
                }
                 }
                }
            }
        }
        .happy{
    .container{
    .row{
  .left{
      
        img{
           height: 33vh;
        padding-left: 0px;
        width: 91%;
        }
       
    }
    .right{
       img{
      
      font-weight: 600;
        padding-top: 120px;
        padding-left: 0px;
        height: 464px;
        width: 102%;
       }
       .text{
        .one{
            font-weight: 600;
            padding-top: 10px;
             font-size: bold;     
        }
        .two{
            font-weight: 600;
            padding-top: 10px;
             font-size: medium;  
        }
        .three{
        font-size: 15px;     
        }
       } 
    }
   }
    }
}

#instagram{
    .seen{
        h3{
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
    }
	.container{
		.smiles{
            padding-top: 60px;
			justify-content: center;
			display: flex;
			gap: 10px;
            .get{
                display: block;
                height: 200px;
            }
            .bug{
                height: 200px;   
            }

		}
        .tigzozo{
         .tigs{
           button{
               background: purple;
               color: white;
               font-weight: 500;
               height: 5vh;
               width: 23%;
               border: 4px solid purple;
               margin-top: -1px;
                }
           }

	}

}
}
.footer{
    color: var(--primary-color);
    background-color: #80228c;
    padding: 2rem 3rem;
     margin-top: 3rem;

    .p{
        text-decoration: underline;
        font-weight: 700;
        font-size: 18px;
    }
    .row{
        .left{
            .icon2{
                display: flex;
                gap: 3rem;
            }
           .text{
            img{
                margin-top: 10px;
            }
            .copy{
                margin-left: 40px;
               margin-top: -20px;
            }
            .all{
                margin-left: 40px;
                padding-top: 10px;   
            }
            .icons2{
                gap: 20px;
            }
           } 


        }
        .center{
            .text{
                display: flex;
                flex-direction: column;
                gap: 9px;
                a{
                    text-decoration: none;
                    color: var(--primary-color);
                    font-size: 18px;
                }
            }
        }
        .right{
          .cones{
            .icons{
                display: flex;
                align-items: center;
                gap: 1rem;
                size: 1px;
            }
          }
        }
        .covid{
            .text{
                .our{
                    margin-bottom: 5px;
                }
                .team{
                    margin-bottom: 5px;   
                }
                .test{
                    margin-bottom: 5px;
                }
                .updates{
                    margin-bottom: 5px;
                }
            }
        }
      
    }
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .Services{
     .flexcontainer{
              .row{
                h3{
                    padding-bottom: 30px;
                   margin-left: 0;
                   }
               .cards{  
                  .ppppp{
                    height: 81vh;
            padding-right: 0;
            width: 34%;
                
                }
                .ooooo{
                    height: 81vh;
                    padding-right: 0;
                    width: 31%;  
                }
                .fffff{
                    height: 81vh;
            padding-right: 0;
            width: 34%;   
                }
                 }
                }
            }
        }
                .happy{
    .container{
    .row{
  .left{
      
        img{
        height: 75vh;
        padding-left: 0px;
        width: 91%;
        }
       
    }
    .right{
       img{
     font-weight: 600;
        padding-top: 124px;
        padding-left: 0px;
        height: 576px;
        width: 102%;
       }
     
    }
   }
    }
}
#instagram{
    .seen{
        h3{
            display: flex;
            justify-content: center;
            padding-top: 50px;
        }
    }
	.container{
		.smiles{
            padding-top: 60px;
			justify-content: center;
			display: flex;
			gap: 10px;
            .get{
                display: block;
                height: 200px;
                width: 120px;
            }
            .bug{
                height: 200px;
                width: 120px;   
            }

		}
        .tigzozo{
            // .tigs{
              button{
                  height: 5vh;
                  width: 15%;
                   }
            //   }
   
       }

}
}
.footer{
    color: var(--primary-color);
    background-color: #80228c;
    padding: 2rem 3rem;
     margin-top: 3rem;

    .p{
        text-decoration: underline;
        font-weight: 700;
        font-size: 18px;
    }
    .row{
        .left{
            .icon2{
                display: flex;
                gap: 3rem;
            }
           .text{
            img{
                margin-top: 10px;
            }
            .copy{
                margin-left: 40px;
               margin-top: -20px;
            }
            .all{
                margin-left: 40px;
                padding-top: 10px;   
            }
            .icons2{
                gap: 20px;
            }
           } 


        }
        .center{
            .text{
                display: flex;
                flex-direction: column;
                gap: 9px;
                a{
                    text-decoration: none;
                    color: var(--primary-color);
                    font-size: 18px;
                }
            }
        }
        .right{
          .cones{
            .icons{
                display: flex;
                align-items: center;
                gap: 1rem;
                size: 1px;
            }
          }
        }
        .covid{
                margin-top: 30px;
            .text{
                .our{
                    margin-bottom: 5px;
                }
                .team{
                    margin-bottom: 5px;   
                }
                .test{
                    margin-bottom: 5px;
                }
                .updates{
                    margin-bottom: 5px;
                }
            }
        }
      
    }
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .banner{
        .container{
            .row{
                .right{
                    .images{
                        img{
                            width: 13vw;
                            margin-top: 30px;
                            height: 230px;
                        }
                        }
                }
            }
        }
    }
   
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}
